x-bake:
  targets:
    gmweb-headless:
      platforms:
        - linux/amd64
        - linux/arm64

services:
  gmweb-headless:
    build:
      context: .
      dockerfile: Dockerfile.headless
    image: almagest/gmweb-headless:latest
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=${TZ:-Etc/UTC}
      - PASSWORD=${PASSWORD:-password}
      - FILE_MANAGER_PATH=/config/Desktop
      - GMWEB_HEADLESS=1
    volumes:
      - gmweb-headless-config:/config
      - gmweb-headless-local:/usr/local
    shm_size: "1gb"
    restart: unless-stopped
    labels:
      - traefik.enable=true
      - traefik.http.services.gmweb-headless.loadbalancer.server.port=80

volumes:
  gmweb-headless-config:
    driver: local
  gmweb-headless-local:
    driver: local
