version: '3.8'

services:
  gmweb:
    build:
      context: .
      args:
        BUILD_DATE: ${BUILD_DATE:-unknown}
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=${TZ:-Etc/UTC}
      - PASSWORD=${VNC_PW:-password}
      - VNC_PW=${VNC_PW:-password}
    volumes:
      - gmweb-config:/config
    ports:
      - "3000:3000"  # Webtop HTTP
      - "3001:3001"  # Webtop HTTPS
      - "80:80"      # kasmproxy-wrapper
    shm_size: "1gb"
    restart: unless-stopped

volumes:
  gmweb-config:
    driver: local
