version: '3.8'

x-bake:
  targets:
    gmweb:
      platforms:
        - linux/amd64
        - linux/arm64

services:
  gmweb:
    build:
      context: .
      args:
        BUILD_DATE: ${BUILD_DATE:-unknown}
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=${TZ:-Etc/UTC}
      - PASSWORD=${VNC_PW:-password}
      - VNC_PW=${VNC_PW:-password}
      - CUSTOM_PORT=6901
      - CUSTOM_HTTPS_PORT=6902
      - FILE_MANAGER_PATH=/config/Desktop
      - SUBFOLDER=/desk/
    volumes:
      - gmweb-config:/config
    ports:
      - "6901:6901"  # Webtop HTTP
      - "6902:6902"  # Webtop HTTPS
    shm_size: "1gb"
    restart: unless-stopped

volumes:
  gmweb-config:
    driver: local
