version: '3.8'

services:
  gmweb:
    build:
      context: .
      args:
        ARCH: ${ARCH:-aarch64}
    environment:
      - VNC_PW=${VNC_PW:-password}
    volumes:
      - gmweb-home:/home/kasm-user
volumes:
  gmweb-home:
    driver: local
