version: '3.8'

x-bake:
  targets:
    gmweb:
      platforms:
        - linux/amd64
        - linux/arm64

services:
  gmweb:
    image: lscr.io/linuxserver/webtop:ubuntu-xfce
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=${TZ:-Etc/UTC}
      - PASSWORD=${PASSWORD:-password}
      - FILE_MANAGER_PATH=/config/Desktop
    volumes:
      - gmweb-config:/config
      - gmweb-local:/usr/local
      - ./docker/99-gmweb-startup.sh:/custom-cont-init.d/99-gmweb-startup.sh:ro
      - ./docker/custom_startup.sh:/tmp/gmweb/custom_startup.sh:ro
    shm_size: "1gb"
    restart: unless-stopped
    labels:
      - traefik.enable=true
      - traefik.http.services.gmweb.loadbalancer.server.port=80

volumes:
  gmweb-config:
    driver: local
  gmweb-local:
    driver: local
