version: '3.8'

x-bake:
  targets:
    gmweb:
      platforms:
        - linux/amd64
        - linux/arm64

services:
  gmweb:
    build:
      context: .
      args:
        BUILD_DATE: ${BUILD_DATE:-unknown}
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=${TZ:-Etc/UTC}
      - PASSWORD=${PASSWORD:-password}
      - CUSTOM_PORT=6901
      - CUSTOM_HTTPS_PORT=6902
      - FILE_MANAGER_PATH=/config/Desktop
      - SUBFOLDER=/desk/
    volumes:
      - gmweb-config:/config
      - gmweb-local:/usr/local
    shm_size: "1gb"
    restart: unless-stopped
    labels:
      - traefik.enable=true
      - traefik.http.services.gmweb.loadbalancer.server.port=80

volumes:
  gmweb-config:
    driver: local
