version: '3.8'

services:
  gmweb:
    build: .
    ports:
      - "8000:8000"
    environment:
      - VNC_PW=${VNC_PW:-password}
    volumes:
      - gmweb-home:/home/kasm-user

volumes:
  gmweb-home:
    driver: local
